{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>Your Shopping List</h1>
        <div>
            <form method="post" action="{% url 'shopping_delete' %}">
                {% csrf_token %}
                <button class="button">Delete all</button>
            </form>
        </div>
        <ul>
            {% for item in shopping_list_items %}<li>{{ item.food_item.name }}</li>{% endfor %}
        </ul>
    </main>
{% endblock content %}
%%