{% extends "base.html" %} {% load markdownify %} {% load resizer %} {% block
content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'recipe_edit' single_recipe.id %}">Edit</a>
    <a href="{% url 'recipe_delete' single_recipe.id %}">Delete</a>
  </div>
  {% if single_recipe.image %}<img
    src="{{ single_recipe.image }}"
    class="pull-right"
  />{% endif %}
  <h1>{{ single_recipe.name }}</h1>
  <h2>by: {{ single_recipe.author | default_if_none:"Unknown" }}</h2>
  <h5>
    Created on {{ single_recipe.created }} | Updated on {{ single_recipe.updated
    }}
  </h5>
  {% if single_recipe.servings %} {% comment %}
  <p>Serves {{ single_recipe.servings }}</p>
  {% endcomment %}
  <p>Serves {{ servings|default_if_none:single_recipe.servings }}</p>
  <form method="GET">
    <input
      placeholder="number of servings"
      type="number"
      name="servings"
      required
    />

    <button class="button">Resize</button>
  </form>
  {% endif %}
  <form method="post" action="{% url 'recipe_rating' single_recipe.id %}">
    {% csrf_token %}
    <div class="rating-form-grid">
      {{ rating_form.as_p }}
      <button class="button">Rate</button>
    </div>
  </form>
  <p>Tags: {% for tag in single_recipe.tags.all %}{{ tag.word }}{% endfor %}</p>
  {{ single_recipe.description | markdownify }}
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in single_recipe.ingredients.all %}
      <tr>
        <td>{{ ingredient|resize_to:servings }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>
        <td>
          {% if ingredient.food not in food_in_shopping_list %}
          <form method="POST" action="{% url 'shopping_new' %}">
            {% csrf_token %}
            <input type="hidden" name="sauce" value="{{ ingredient.id }}" />
            <button class="button">+ shopping list</button>
          </form>
          {% else %}
          <form>in your list</form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in single_recipe.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main>

{%endblock content%}
