{% extends 'base.html' %}
{% block content %}
    <main class="recipe-grid">
        <div class="recipe-list">
            <h2>
                <u>User List</u>
            </h2>
            {% for recipe in recipe_list %}
                <div class="recipe-card">
                    <a>{{ recipe.author }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="recipe-list">
            <h2>
                <u>Recipe List</u>
            </h2>
            {% for recipe in recipe_list %}
                <div class="recipe-card">
                    <a>{{ recipe.name|default:"unavailable" }}</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
