{% extends "base.html" %}
{% load markdownify %}
{% block content %}
  <main class="recipe-list">
    <div>
      <a href="{% url 'meal_plans_edit' meal_plans_detail.pk %}">Edit</a>
      <a href="{% url 'meal_plans_delete' meal_plans_detail.pk %}">Delete</a>
    </div>
    <h2>{{ meal_plans_detail.name }} on {{ meal_plans_detail.date }}</h2>
    {% for recipe in meal_plans_detail.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
