{% extends "paginate.html" %}
{% block content %}
  <main class="recipe-list">
    <p>
      <a href="{% url 'meal_plans_new' %}">Create</a>
    </p>
    <div class="recipe-grid">
      {% for meal in meal_plans_list %}
        <div class="recipe-card">
          <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' meal.pk %}">{{ meal.name }}</a>
          </h2>
          {% for recipe in meal.recipes.all %}
            <p>
              <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
            </p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
