@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* color pallet */
:root {
	--red: #bc4749;
	--tan: #f2ebcf;
	--ratio: 3.74;
	--light-green: #a7c957;
	--mid-green: #6a994e;
	--dark-green: #386641;
	--head-foot-line: #000000;
}
html,
button,
select,
textarea,
input {
	font-family: Roboto;
	font-size: 16px;
}
main {
	padding: 16px;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--tan);
}
header nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	justify-items: center;
}
.form-underline {
	border-bottom: 1px solid var(--head-foot-line);
}

dialog {
	border: none !important;
	backdrop-filter: grayscale(50%);
	z-index: 0;
	border-radius: calc(5px * var(--ratio));
	box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	padding: 1.6rem;
	max-width: 400px;
	z-index: -1;
}

dialog img {
	display: block;
	max-width: 75%;
	margin: 1rem 0 auto 2rem;
}
img {
	width: 200px;
}
table tbody tr:nth-child(even) {
	background-color: lightgrey;
}
table {
	margin: auto;
	width: 100%;
	background-color: white;
	color: rgb(164, 153, 240);
}

td {
	padding: 0.25em 0.5em;
}

th {
	font-size: 18px;
	padding: 0.25em 0.5em;
	background-color: white;
	color: chocolate;
}
input,
textarea {
	border: 1px solid #29a972;
	border-radius: 4px;
	padding: 1em 1.5em;
}
textarea {
	resize: none;
}
footer {
	display: flex;
	flex-flow: column-reverse;
	width: 100%;
	min-height: 3.5rem;
	padding: 0.5rem 2rem;
	border-top: 1px solid var(--head-foot-line);
	font-size: 12px;
	text-align: center;
	background-color: var(--light-green);
	color: white;
}
.recipe-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
a {
	text-decoration: none;
	color: var(--mid-green);
}
h1 {
	color: var(--dark-green);
}
button.button {
	background-color: #29a972;
	border: 2px solid transparent;
	border-radius: 4px;
	color: white;
	padding: 1em 1.5em;
	text-transform: uppercase;
}

button.button:hover {
	background-color: white;
	border-color: #29a972;
	color: #29a972;
}

button.button:active {
	background-color: lightblue;
}

a:hover {
	color: var(--red);
}
.nav-a-color {
	color: var(--tan);
	background-color: var(--red);
	font-size: 16px;
	font-weight: bolder;
}
.nav-a-color:hover {
	color: var(--mid-green);
}
nav {
	position: relative;
	z-index: 999999;
	display: flex;
	flex-flow: row nowrap;
	background-color: var(--red);
	align-items: center;
	height: 3.5rem;
	width: 100%;
	padding: 16px;
	border-bottom: 1px solid var(--head-foot-line);
}
/* .secondarynav {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
} */
